*{margin:0; padding: 0}

#header {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    z-index: 1000;
}

#header a img {
    width: 233px;
    height: 60px;
}

#main_body {
    margin-top: 101px;
}

#header_separator {
    background-color: #D9D9D9;
    width: 100%;
    height: 1px;
    position: fixed;
    top: 100px;
    z-index: 999;
}
#header-left-menu {
    margin-left: auto;
}

ul.header-menu {
    margin-left: 24px;
}

ul.header-menu li{
    display: inline-block;
    margin-right: 24px;
}

ul.header-menu li a{
    color: black;
    text-decoration: none !important;
    font-family: Roboto-Black;
    font-size: 20px;
    text-transform: uppercase;
}

.delivery_address_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background-color: #121A38;
}
.delivery_address_section h4 {
    color: #ffffff;
    margin-right: 12px;
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 16px;
}
.button-primary {
  border: none;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  background-color: #E73B3B;
  font-family: Roboto-Bold;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-primary:hover,
.button-primary:active,
.button-primary:focus,
.button-primary.active {
  opacity: 0.9;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.container-login{
    width: 748px;
    margin: auto;
    padding-top: 80px;
}

.container-login form h1 {
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 28px;
}

.input-under-line {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 12px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid black;
    color: black;
    font-family: Roboto;
    font-size: 20px;
}
.input-under-line:focus {
    outline: none;
}

.error-message{
    color: red;
    font-family: Roboto;
    font-size: 16px;
}

#btnLogin{
    width: 100%;
    height: 64px;
    background-color: #28A745;
    font-family: Roboto-Bold;
    font-size: 24px;
}

.txtLinkNoneDeco {
    transition:none;
    color:black;
    text-decoration:none;
}
.txtLinkNoneDeco:hover,
.txtLinkNoneDeco:active,
.txtLinkNoneDeco:focus,
.txtLinkNoneDeco.active {
  opacity: 0.9;
}

#txtForgotPW {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: end;
    font-family: Roboto;
    font-size: 20px;
    align-self: flex-end;
}

.container-login form #txtRegister {
    margin-top: 48px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    color: black;
}
.container-login form p a{
    color: black;
    font-family: Roboto-Bold;
    font-size: 20px;
}
/* .forgot-password{
    width: 748px;
    margin-top: 48px;
    display: flex;
    justify-content: end;
    font-family: Roboto;
    transition:none;
    color:black;
    text-decoration:none;
    font-size: 20px;
}
.login-register{
    width: 748px;
    height: 146px;
    border: 0px solid green;
    margin-top: 53px;
}


.line{
    width: 748px;
    height: 30px;
    border-bottom: 1px solid rgb(88, 88, 88);
}
.input-login{
    border: 0px;
    width: 100%;
    box-shadow: none;
    font-size: 24px;
}
.button-newaccount{
    font-family: Roboto;
    font-size: 24px;
}
.button-newaccount a{
    color: black;
    font-weight: 600;
}
.container-register{
    width: 100%;
    height: 1200px;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-register h1{
    font-size: 38px;
    font-family: Roboto;
    font-weight: 700;
    margin-top: 80px;
}
.form-register{
    width: 748px;
    height: 525px;
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    margin-top: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-register .input{
    height: 73px;
    width: 748px;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input-register{
    border: 0px;
    width: 100%;
    box-shadow: none;
    font-size: 24px;
}
.check-policy{
    width: 781px;
    height: 37px;
    border: 0px solid red;
    margin-top: 41.27px;
    display: flex;
}
.check-policy p{
    font-size: 24px;
    margin-left: 20px;
}
.check-policy #check{
    width: 36px;
    height: 36px;

}
.check-policy a{
    font-weight: 700;
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
}
.container-register button{
    width: 748px;
    height: 64px;
    background: #E73B3B;
    border-radius: 40px;
    margin-top: 56px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    border: none;
}
.have-account{
    width: 399px;
    height: 44px;
    border: 0px solid red;
    margin-top: 42px;
    display: flex;
    font-size: 24px;
}
.have-account a{
    font-weight: 700;
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
    margin-left: 5px;
} */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf);
}


@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}